.App-servicos{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card{
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
    list-style-type: none;
    padding: 20px;
    
}
.card-list{
    
    margin-left: 5rem;
    margin-top: 1rem;
    border: 1px solid;
    border-radius: 18px;
    padding: 10px;
    
}
.card-list .p{
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}

.image{
    width: 300px;
    height: 200px;
}